.map-container {
  text-align: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.map-container h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 10px;
}

.map-wrapper {
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.map-wrapper iframe {
  width: 80%;
  height: 80%;
  border: none;
}
