.whoswho-container {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size:15px;
}

h1 {
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 30px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #003366;
  color: white;
}



tr:hover {
  background-color: #ddd;
}
